version: '3.8'

services:
  # Langfuse
  langfuse-server:
    image: langfuse/langfuse:2
    depends_on:
      - db
    ports:
      - "${LANGFUSE_PORT:-3000}:3000"
    environment:
      - DATABASE_URL=postgresql://langfuse:langfuse@db:5432/langfuse
      - NEXTAUTH_URL=http://localhost:${LANGFUSE_PORT:-3000}
      - NEXTAUTH_SECRET=${LANGFUSE_AUTH_SECRET:?Please set LANGFUSE_AUTH_SECRET in .env.langfuse}
      - SALT=${LANGFUSE_SALT:?Please set LANGFUSE_SALT in .env.langfuse}
      - ENCRYPTION_KEY=${LANGFUSE_ENCRYPTION_KEY:?Please set LANGFUSE_ENCRYPTION_KEY in .env.langfuse}
      - TELEMETRY_ENABLED=${TELEMETRY_ENABLED:-true}
      - LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES=${LANGFUSE_ENABLE_EXPERIMENTAL_FEATURES:-true}

  db:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=langfuse
      - POSTGRES_PASSWORD=langfuse
      - POSTGRES_DB=langfuse
    volumes:
      - langfuse_db_data:/var/lib/postgresql/data

  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector:0.119.0
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector.langfuse.yml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC receiver
      - "4318:4318" # OTLP HTTP receiver
    depends_on:
      - langfuse-server

volumes:
  langfuse_db_data:
